* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: orchid;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
  border-style: solid;
  border-bottom-width: 5px;
  border-top-width: 0;
  border-left-width: 0;
  border-color: #fff;
}


.logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  margin-left: 15px;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 5px;
  transition: all 0.3s ease-in-out;
}

.menu a:hover {
  background-color: #fff;
  color: #333;
  border-radius: 5px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

h1 {
  --main-font: 'roboto';
	--font-bold: 700;
	--font-regular: 400;
}

.results {
  border: 2px solid #ccc;
  padding: 20px;
  text-align: left;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  color: #333;
}

#sobre-nos {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
}
h2 {
    color: orange;
}

header a {
	text-decoration: none;
	color: black;
	display: inline-block;
	padding:10px 10px;
	margin:10px 10px;
	border:1px solid black;
	border-radius:5px;

}
header a:hover {
	background-color: burlywood;
	color:black;
	box-shadow: 0 2px 3px black
}

@keyframes btn2 {
	0% {
		transform:rotate(0);
	}
	25% {
		transform:rotate(10deg);
	}
	50% {
		transform:rotate(0);
	}
	75% {
		transform:rotate(-10deg);
	}
	100% {
		transform:rotate(0);
	}
}
.btn-2 {
	transition: .5s;
}
.btn-2:hover {
	animation-name: btn2;
	animation-delay: .5s;
	animation-duration: .5s;
	animation-timing-function: linear;
	animation-iteration-count: 1
}



/* Estilos para telas menores */

@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  
  .menu li {
    margin-left: 0;
    margin-top: 10px;
  }
  
  input[type="text"] {
    width: 100%;
  }
  
  button[type="submit"] {
    width: 100%;
  }
}
  
  
  